.dungeon,
.pvp {
  width: 100%;
  background: linear-gradient(
      to bottom,
      rgba(17, 17, 19, 1) 5%,
      rgba(255, 255, 255, 0) 70%,
      rgba(17, 17, 19, 1) 95%
    ),
    url("/src/img/dungeon.png") 50% 50% / cover no-repeat;
  background-color: var(--bg-color);
  color: var(--font-color);
  margin-top: 5rem;
}

.dungeon h1,
.pvp h1 {
  text-align: center;
  width: 100%;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-weight: 700;
}
.dungeon p,
.pvp p {
  text-align: center;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}
.frame {
  width: 100%;
  height: 2rem;
  background: url("http://server.movingtail.com/minwoo/projectImg/frame.png")
    50% 50% / auto no-repeat;
  transform: rotateX(180deg);
  margin-bottom: 3rem;
}
.dungeon__contents-img {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.dungeon__bg {
  width: 18%;
  height: 20rem;
  margin: 1rem;
  border-radius: 15px 0 15px 0;
  text-align: center;
  position: relative;
  border: 1px solid black;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.dungeon__bg:hover {
  border: 0.5px solid var(--yellow);
  transform: translateY(-2rem);
  transition: transform 0.3s ease-in-out;
}
.dungeon__bg-text {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1.5rem 0;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}
.dungeon__bg-text h2 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.dungeon__bg-text span {
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 0.3rem 0.6rem;
  border-radius: 1rem;
}
.dungeon .dungeon__bg:first-child {
  background: url("http://server.movingtail.com/minwoo/projectImg/d1.jpeg") 50%
    50% / cover no-repeat;
}

.dungeon .dungeon__bg:nth-child(2) {
  background: url("http://server.movingtail.com/minwoo/projectImg/dd2.jpeg") 50%
    50% / cover no-repeat;
}
.dungeon .dungeon__bg:nth-child(3) {
  background: url("http://server.movingtail.com/minwoo/projectImg/d3.jpeg") 50%
    50% / cover no-repeat;
}
.dungeon .dungeon__bg:last-child {
  background: url("http://server.movingtail.com/minwoo/projectImg/d4.jpeg") 50%
    50% / cover no-repeat;
}

.pvp .dungeon__bg:first-child {
  background: url("http://server.movingtail.com/minwoo/projectImg/pvp1.jpeg")
    50% 50% / cover no-repeat;
}
.pvp .dungeon__bg:nth-child(2) {
  background: url("http://server.movingtail.com/minwoo/projectImg/pvp2.jpeg")
    30% 50% / cover no-repeat;
}
.pvp .dungeon__bg:nth-child(3) {
  background: url("http://server.movingtail.com/minwoo/projectImg/pvp3.jpeg")
    30% 50% / cover no-repeat;
}

.pvp .dungeon__bg:last-child {
  background: url("http://server.movingtail.com/minwoo/projectImg/pvp4.jpeg")
    30% 50% / cover no-repeat;
}
