.reserveform {
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  position: relative;
}

.reserveform h1 {
  font-size: 2.5rem;
  margin-bottom: 3rem;
  font-weight: 700;
}
.access {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.access__device {
  text-align: center;
  margin-bottom: 1rem;
}
label[for="aos"] {
  margin-right: 2rem;
}
.access__phone,
.access__number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200%;
  margin-bottom: 1rem;
}
.access__number {
  margin-bottom: 2rem;
  position: relative;
}

.timer {
  position: absolute;
  color: black;
  right: 28%;
}
.access__phone input[type="button"] {
  background-color: var(--yellow);
}
.access__number input[type="button"] {
  background-color: rgb(78, 78, 78);
}
.reserveform input[type="button"] {
  width: 40%;
  border: 0px;
  height: 3rem;
  cursor: pointer;
}
.reserveform input[type="text"] {
  width: 160%;
  height: 3rem;
  outline: 0;
  text-indent: 0.5rem;
  margin-right: 0.5rem;
  background-color: white;
  border: 0;
}
.reserveform input[type="text"]::placeholder {
  color: var(--gray);
}

.access__agreement {
  font-size: 0.9rem;
  width: 30rem;
}
.access__agreement div:nth-child(2) {
  margin-bottom: 1rem;
}
.access__agreement-all {
  padding-bottom: 1rem;
  border-bottom: 0.5px solid var(--font-color);
  margin-bottom: 1rem;
}
.access__agreement-info,
.access__agreement-ad {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.infoDetail,
.adDetail {
  margin-top: 0.3rem;
  margin-left: 9%;
  color: var(--gray);
  font-size: 0.8rem;
  cursor: pointer;
}
.infoDetail:hover,
.adDetail:hover {
  text-decoration: underline;
}
.submit input[type="button"] {
  background-color: var(--yellow);
  width: 100%;
  margin-top: 2rem;
  cursor: pointer;
}

.message {
  background-color: tomato;
  width: 20rem;
  text-align: center;
  padding: 1rem 0;
  border-radius: 2rem;
  animation: messageMove 1s linear;
  position: absolute;
  bottom: 5rem;
  opacity: 0;
}
.ok {
  background-color: teal;
}

.popup__box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
}
.success__box {
  border: 0.5px solid var(--yellow);
  box-shadow: 1px 1px 4px black;
  background-color: black;
  width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 30%,
      rgba(0, 9, 9, 1) 60%
    ),
    url("http://server.movingtail.com/minwoo/projectImg/subg.jpg") 50% 0% /
      contain no-repeat;
  position: relative;
}
.success__box img:first-child {
  width: 100%;
  z-index: 1;
  position: absolute;
  top: 95px;
  left: -0;

  /* background: url("/src/img/su1.png") 50% 50% / cover no-repeat; */
}
.success__box > div:nth-child(2) {
  color: var(--font-color);
  margin-top: 20rem;
  text-align: center;
}
.success__box div:nth-child(2) h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.success__box div:nth-child(2) p {
  font-size: 1.2rem;
}
.success__box div:nth-child(3) {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
.success__box div:nth-child(3) > div:first-child {
  width: 40%;
  height: 3rem;
  background: url("http://server.movingtail.com/minwoo/projectImg/googlePlay.png")
    50% 50% / contain no-repeat;
  cursor: pointer;
  margin: 1rem;
}
.success__box div:nth-child(3) > div:last-child {
  width: 40%;
  height: 3rem;
  background: url("http://server.movingtail.com/minwoo/projectImg/appStore.png")
    50% 50% / contain no-repeat;
  cursor: pointer;
  margin: 1rem;
}
.success__box input[type="button"]:last-child {
  background-color: var(--yellow);
  color: var(--bg--color);
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: 0;
  margin: 2rem 0;
  cursor: pointer;
}

@keyframes messageMove {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
