@import url("https://fonts.googleapis.com/css2?family=Hahmlet:wght@100;400;700&display=swap");

@import "./css/reset.css"; /*reset css*/
@import "./css/variable.css";

@import "./css/header.css";
@import "./css/main.css";
@import "./css/footer.css";

@import "./css/component/event.css";
@import "./css/component/character.css";
@import "./css/component/dungeon.css";
@import "./css/component/reserveform.css";

@import "./css/media/media.css";

body,
button,
input {
  font-family: "Hahmlet", serif;
}

#container {
  width: 100%;
}

.hidden {
  display: none;
}
