@media screen and (max-width: 950px) {
  header .reserveBtn {
    width: 30%;
  }
  i[class="fa-solid fa-bars"] {
    cursor: pointer;
  }

  header #box {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
  }

  .nav__menu {
    opacity: 0;
    width: 18rem;
    height: 100vh;
    background-color: var(--bg-color);
    position: fixed;
    top: 0;
    left: -300px;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    z-index: 2;
  }
  .nav__menu > li:first-child {
    position: relative;
  }
  .nav__menu > li {
    width: 100%;
    margin: 0 auto;
    background-color: var(--bg-color);
    margin-right: 0;
  }
  header #nav ul li span {
    margin: 0;
  }
  .nav__menu > li > a {
    display: block;
    padding: 1rem 0;
  }
  .nav__menu > section > a[href="index.html"] {
    display: flex;
    width: 15rem;
    height: 10rem;
    background: url("http://server.movingtail.com/minwoo/projectImg/logo.png")
      50% 50% / contain no-repeat;
    margin-bottom: 0rem;
  }
  .nav__menu > .reserveBtn {
    width: 100%;
    border-radius: 0;
    margin: 0;
    margin-top: 1rem;
  }
  .subMenu {
    position: static;
    z-index: 1;
    height: 0;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 0;
  }
  .closeBtn {
    position: absolute;
    top: 2rem;
    right: 1rem;
    border: 0;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    background: none;
    color: var(--font-color);
    font-size: 1.2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    transition: color 0.3s ease-in-out;
  }
  .closeBtn:hover {
    color: var(--yellow);
  }
  .character {
    background-position: 20% 0%;
  }
  .reserveform {
    width: 90%;
    margin: 0 auto;
  }

  .access {
    width: 100%;
    margin: 0 auto;
  }
  .access__phone,
  .access__number {
    position: relative;
    width: 100%;
  }
  .access__agreement {
    width: 100%;
  }
  .access__phone input[type="button"],
  .access__number input[type="button"] {
    position: absolute;
    right: 0.5%;
    width: 25%;
  }
  .reserveform input[type="text"] {
    margin: 0;
  }

  .event {
    height: 100vh;
  }
  .event__list {
    flex-direction: column;
  }
  .event__list-item {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
  .event__list-item span {
    top: 80%;
  }
  .item__img {
    height: 15rem;
  }
  .event__list-item:first-child div {
    background-position: 0 -5rem;
  }
  .event__list-item:nth-child(2) div {
    background-position: 0 -7rem;
  }
  .event__list-item:nth-child(3) div {
    background-position: 0 -6rem;
  }
  .event__list-item:last-child div {
    background-position: 0 -8.5rem;
  }
  .dungeon__contents {
    width: 90%;
    margin: 0 auto;
    overflow-x: scroll;
  }
  .dungeon__contents::-webkit-scrollbar {
    height: 3px;
    width: 10px;
    background-color: black;
  }
  .dungeon__contents::-webkit-scrollbar-thumb {
    width: 3px;
    height: 3px;
    background-color: var(--yellow);
  }
  .dungeon__contents-img {
    width: 250%;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  .dungeon__bg {
    width: 100%;
  }
  .dungeon__contents-img {
    height: 25rem;
  }
  footer {
    flex-direction: column;
    justify-content: center;
  }
  .footerColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
  }
  .footerColumn:first-child {
    order: 2;
    text-align: center;
  }
  .footerColumn:last-child {
    order: 1;
    margin-bottom: 2rem;
  }
  @keyframes slidedown {
    0% {
      height: 0;
      opacity: 0;
    }
    50% {
      height: 3rem;
      opacity: 0;
    }
    90% {
      height: 6rem;
      opacity: 0;
    }
    100% {
      height: 6rem;
      opacity: 1;
    }
  }

  @keyframes slideup {
    0% {
      height: 6rem;
      opacity: 1;
    }
    50% {
      height: 6rem;
      opacity: 0;
    }
    90% {
      height: 3rem;
      opacity: 0;
    }
    100% {
      height: 0;
      opacity: 0;
    }
  }

  @keyframes rightSlide {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      left: 0px;
    }
  }
  @keyframes leftSlide {
    0% {
      opacity: 1;
      left: 0px;
    }
    100% {
      opacity: 0;
      left: -300px;
    }
  }
}
